<!-- Sidebar -->

<% if (NivelUser != "ADMIN") { %>
    <%- include menu-filial.ejs %>
<% } else if (NivelUser == "ADMIN") { %>


<section>
	<!-- Left Sidebar -->
	<aside id="leftsidebar" class="sidebar">
		<!-- User Info -->
		<div class="user-info" style="background: #4488bd no-repeat no-repeat;">                
			<div class="info-container">
				<div class="name" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><%= NomeUser %></div>
				<div class="email"><%= EmailUser %></div>
				<div class="btn-group user-helper-dropdown">
					<i class="material-icons" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">keyboard_arrow_down</i>
					<ul class="dropdown-menu pull-right">
						<li>
							<a href="#">
								<i class="material-icons" style="color:#4488bd;">person</i>
								Perfil
							</a>
						</li>
						<li role="separator" class="divider"></li>
						<li>
							<a href="#">
								<i class="material-icons" style="color: #4488bd;">miscellaneous_services</i>
								Alterar Senha
							</a>
						</li>
						<li role="separator" class="divider"></li>
						<li>
							<a href="/app/sair">
								<i class="material-icons" style="color: #4488bd;">input</i>
								Sair
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<!-- #User Info -->
		<!-- Menu -->
		<div class="menu">
			<ul class="list">
				<li class="header">NAVEGAÇÃO</li>
				<li>
					<a href="/app/associado/list">
						<i style="color:#4488bd" class="material-icons">person</i>
						<span>Associados</span>
					</a>
				</li>
				<li>
					<a href="/app/associado/pre-cadastro">
						<i style="color: #4488bd" class="material-icons">person_outline</i>
						<span>Pré-Cadastrados</span>
					</a>
				</li>
				<li>
					<a href="/app/usuario/list">
						<i style="color: #4488bd" class="material-icons">admin_panel_settings</i>
						<span>Usuários</span>
					</a>
				</li>					
			   				
			   
			 <!--   <li>
					<a href="javascript:void(0);" class="menu-toggle">
						<i class="material-icons">widgets</i>
						<span>Widgets</span>
					</a>
					<ul class="ml-menu">
						<li>
							<a href="javascript:void(0);" class="menu-toggle">
								<span>Cards</span>
							</a>
							<ul class="ml-menu">
								<li>
									<a href="pages/widgets/cards/basic.html">Basic</a>
								</li>
							</ul>
						</li>
						<li>
							<a href="javascript:void(0);">
								<span>Infobox</span>
							</a>
						</li>
					</ul>
				</li> -->
			   
			</ul>
		</div>
		<!-- #Menu -->
		<!-- Footer -->
		<div class="legal">
			<div class="copyright">
				&copy; 2020 <a href="https://www.sinproesemma.org.br/" target="_blank" style="color: #4488bd !important;">SINPROESEMMA</a>
			</div>
			<div class="version">
				<b>Version: </b> 1.0.0
			</div>
		</div>
		<!-- #Footer -->
	</aside>
	<!-- #END# Left Sidebar -->
	<!-- Right Sidebar -->
	<!-- #END# Right Sidebar -->
</section>
 
<% } %>
<!-- End of Sidebar -->